.text-inferior {
    background-color: darkorange
}

.title {
    font-family: Arial;
    font-size: 30px;
}

.titulo {
    color: white;
    font-size: 40px;
}

.colorWoman {
    background-color: rgb(252, 33, 197);
    ;
}

.colorMan {
    background-color: rgb(25, 36, 247);
}

.colorWo {
    background-color: rgb(235, 133, 197);
}

.colorMn {
    background-color: rgb(118, 158, 243);
}

.boton {
    position: relative;
    left: 80%;
    width: 100px;
}